.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 8vh;
    border-bottom: 1px solid gray;
}

.app-name {
    margin-left: 2vw;
}

.user-info {
    margin-right: 3vw;
}

.user-name {
    margin: 0 2vw;
}