.key-board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .key-board-row {
        display: flex;
        .key {
            min-width: 60px;
            min-height: 60px;
            flex-grow: 1;
            img {
                max-width: 20px;
            }
        }
    }
}